<h1>Kenny's Restaurants</h1>
<%= link_to 'Create New Restaurant', new_restaurant_path %>

<div class="links">
  <%= link_to "New Restaurant div", new_restaurant_path %>
</div> 

<% @restaurants.each do |restaurant| %>
  <div class="index_row clearfix">
    <h2 class="restaurant_title"><%= link_to restaurant.title, restaurant %></h2>
    <p class="restaurant_sub_title"><%= restaurant.description %></p>

    <div class="todo_list_menu">
      <%= link_to "Dishes", restaurant %>  &nbsp;   | &nbsp;  
      <%= link_to "Details", restaurant %>  
  </div >

  </div>
<% end %>

 


<br>
<br>
<br>
<br>

<div></div>
<b>
</b>
<b></b>
<p>Below this is the old. </p>
<p></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.title %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.comments %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

