<h1>Kenny's Restaurants</h1>
<%= link_to 'Create New Restaurant', new_restaurant_path %>

<!-- <div class="links">
  <%= link_to "New Restaurant div", new_restaurant_path %>
</div> --> 

<% @restaurants.each do |restaurant| %>
  <div class="index_row clearfix">
    <h2 class="restaurant_title"><%=  restaurant.title %></h2>
    <p class="restaurant_sub_title"><%= restaurant.description %></p>

    <div class="todo_list_menu">
      <%= link_to "My Dishes", restaurant %>  &nbsp;   | &nbsp;  
      <%= link_to "New pin/dish", restaurant %>  &nbsp;   | &nbsp;
      <%= link_to "Restaurant Details", restaurant %>   &nbsp;   | &nbsp;
      <%= link_to 'Delete', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div >

  </div>
<% end %>

 

