<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @restaurant.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @restaurant.comments %>
</p>

<br>

<h4> This Restaurant's Dishes</h4>


<div class="transitions-enabled" id="pins">
  <% @restaurant.pins.each do |pin| %>
    <div class="box panel panel-default">
    <%= render @restaurant.pins %>
      <div class="panel-body"></div>

      <p class="user">
        <!-- Submitted by
        -->
        <!-- / = pin.user.email
        -->
      </p>
    </div>
  <% end %>
</div>


<h3>Create a new Dish</h3>

<div id="form">
  <%= render "pins/form" %>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>



